.shareable {
  position: relative;

  &__button {
    color: var(--palette-primary-main);
    font-size: 16px;
    cursor: pointer;

    img {
      margin-right: 1rem;
    }
  }

  &__box {
    position: absolute;
    top: 50px;
    right: 10px;
    display: block;
    z-index: 1;
    width: 580px;
    background-color: #fff;
    border: 1px solid #B0C0D2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #00000030;

    input {
      background-color: transparent;
      border: 1px solid #B0C0D2;
      border-radius: 4px;
      padding: 5px;
      color: #000;
    }

    &--get {
      display: flex;

      &-validity {
        display: flex;
        flex: 1;
        align-items: center;
        color: #000;
        padding: 0 5px;
        margin-right: 5px;
        border-radius: 5px;

        input[type="checkbox"] {
          margin-right: 0.8rem;
        }

        input[type="number"] {
          background-color: var(--bg-2);
          padding: 5px;
          width: 70px;
          margin: 0 0.7rem;
          text-align: center;
          color: #000;
        }
      }
    }

    &--copy {
      margin-top: 15px;
      display: flex;

      input {
        flex: 1;
        margin-right: 40px;
      }
    }

    &::after {
    }
  }

  > button {
    width: 140px;
  }
}

.text-item {
  background-color: transparent;
  overflow: auto;
  margin-bottom: 20px;
  color: #000;

  .react-resizable-handle {
    //opacity: 0;
    z-index: 9;
  }

  &:hover:not(.read-only) {
    box-shadow: 0 0 5rem rgba(var(--shadow), 0.2);
    cursor: pointer;

    .text-item__content {
      background: var(--bg-2);
    }

    .dashboard-element__drag-icon {
      display: block;
      opacity: 1;
    }

    .dashboard-element__delete-icon {
      display: block;
      opacity: 1;
    }

    .dashboard-element__text {
      color: #000;
    }

    .react-resizable-handle {
      opacity: 1;
      transition: opacity 0.2s;
    }
  }

  &:hover .drag-me {
    display: block;
  }

  input,
  textarea {
    background: transparent;
    border: none;
    color: #000;

    //&:focus {
    //  outline: none;
    //}
  }

  &__header {
    display: flex;
  }

  &__operation-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 20px;
  }

  &__action-icons-wrapper {
    display: flex;
    align-items: center;
  }

  &__action-icon {
    margin-right: 20px;
    height: 20px;
    width: 20px;
    &--active {
      path {
        fill: #000;
      }
    }

    &--close-btn {
      background-color: transparent;
      color: #000;
      font-size: 20px;
      border: none;

      &:focus {
        outline: none;
      }

      &:hover,
      &:active {
        color: #000;
      }
    }
  }

  &__operation {
    font-size: 20px;
    color: #000;
  }

  &__content {
    overflow: auto;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 5px 10px;

    .heading {
      font-size: 24px;
    }

    .sub-heading {
      font-size: 20px;
    }

    .paragraph {
      font-size: 14px;
    }
  }

  &--1 {
    width: 55%;
    margin-right: 2%;
  }

  &--2 {
    width: 35%;
  }

  &--3 {
    width: 35%;
    margin-right: 2%;
  }

  &--4 {
    width: 55%;
  }

  &--full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 150;
  }
}
